/*icon*/
header > section> .circle{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:deepskyblue;

    display:flex;
    justify-content: center;
    align-items: center;
}
/*icon image*/
header>section>.circle >.icon{
    width:30px;
}
/*image, icon */
header > section {
    display:flex;
    align-items:center;
    gap:10px;
}
header {
    display:flex;
    width: 100vw;
}

/*element*/
header> nav>a{
    text-decoration: none;
    font-family: "Arial Narrow";
    justify-content: space-evenly;
    margin: 0px 20px;
    color:white;
}

header> section > h4{
    font-family: "Arial Narrow";
    color: white;
}
/*navigation Bar*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width:100vw;
    height: 50px;


}

nav>a:hover{
    color:blueviolet;
}


body {
    background: radial-gradient(circle at left, #0a2a3a, #0c5785 70%);
}

/*================================    Main     ============================================================*/



.main-photo {
    position: absolute;
    top: 25%;
    left: 8%;

    width: 600px;
    height: 600px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    isolation: isolate;
}

/* image */
.main-photo img {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
    position: relative;
}
.main-photo::before {
    content: "";
    position: absolute;

    inset: -15px;

    border-radius: 50%;
    background: linear-gradient(45deg, #00f0ff, #b626fb);

    filter: blur(60px);
    z-index: 0;
}
.main-photo:hover::before {
   rotate:10000deg;
    filter: blur(30px);


}

/*!* border ring *!*/
/*.main-photo::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    inset: 0;*/

/*    border-radius: 50%;*/
/*    border: 3px solid rgba(255,255,255,0.7);*/
/*    z-index: 3;*/
/*}*/

 /*content hii*/
main>section> .hii{
    position: absolute;
    font-size: 50px;
    top:25%;
    left:50%;
    color: #ffffff;
}

     /*content-name*/
main>section> .mian_name{
    position: absolute;
    font-size: 100px;
    top:32%;
    left:50%;
    color: #ffffff;
}

/*developer-1*/
main>section>.main_1 {
    position: absolute;
    font-size: 40px;
    top:55%;
    left:50%;
    color:#FF0000;
    text-align:center;
}
/*developer-2*/
main>section>.main_2 {
    position: absolute;
    font-size: 40px;
    top:63%;
    left:50%;
    color:#FF0000;
    text-align:center;
}

   /*my-phargrap*/
main>section>.main_p{
    position: absolute;
    font-size: 30px;
    top:75%;
    left:50%;
    color: #00ffe1;
    font-weight: 500;

}




  /*=====================================    about       ====================================================*/
.about_section_topic{
    position: absolute;
    font-size: 40px;
    top:130%;
    left:40%;
    color: #ef1b1b;
}

.about_picture {

    position: absolute;
    top: 165%;
    left: 8%;

    width: 600px;
    height: 600px;
    border-radius: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

}


.about > p{

    position: absolute;
    font-size: 30px;
    top:185%;
    left:50%;
    color: #b5abf4;
    font-weight: 500;
}

.cv_button{
    font-size: 20px;
    background-color: #f80202;
    position: absolute;
    top:250%;
    left:25%;
}
.cv_button:hover {
    background-color: #05e2ff;
}