/*icon*/
header > section> .circle{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:deepskyblue;

    display:flex;
    justify-content: center;
    align-items: center;
}
/*icon image*/
header>section>.circle >.icon{
    width:30px;
}
/*image, icon */
header > section {
    display:flex;
    align-items:center;
    gap:10px;
}

/*element*/
header> nav>a{
    text-decoration: none;
    font-family: "Arial Narrow";
    margin: 0px 10px;
    color:white;
}

header> section > h4{
    font-family: "Arial Narrow";
    color: white;
}
/*navigation Bar*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f4676;
    padding: 10px;
    box-shadow: 0px 10px 10px gray;
}



/* Main     ============================================================*/

main>section>.main_background{
    width:100%;
    height:600px;

}


